/* reset styles */
* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul[class],
ol[class] {
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: white;
}

:root {
    --wrapper-width: 1290px;
    --staatli-font: "Staatliches", sans-serif;
    --noto-font: "Noto Sans", sans-serif;
}

/* ______________________________________________ */
/* components */

.btn {
    background-color: #418043;
    border: none;
    font-family: var(--noto-font);
    text-align: center;
    transition: .15s ease;

}

.btn:hover {
    background-color: #55a630;
    cursor: pointer;
    transition: .15s ease;
}

/* ______________________________________________ */
/* modifiers */
.wrapper {
    width: var(--wrapper-width);
    margin: 0 auto;
}

.paragraph {
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

/* ______________________________________________ */
.header {
    margin: 0 auto;
    width: var(--wrapper-width);
    height: 110px;
    display: flex;
    align-items: center;
}

.header__logo {
    height: 80px;
    width: 144px;
}



.main {
    width: 100%;
}

.promo {
    width: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);
}

.promo__content {
    width: 570px;
    padding: 300px 0;
}

.promo__title {
    font-family: var(--staatli-font);
    font-weight: 400;
    font-size: 90px;
    letter-spacing: 0%;
    text-align: left;
    color: #ffffff;
}

.promo__paragraph {
    margin-top: 30px;
    font-family: var(--noto-font);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0%;
    line-height: 26px;
    text-align: left;
    color: whitesmoke;
}

.promo__btn {
    width: 245px;
    height: 70px;
    font-size: 23px;
    font-weight: 500;
    line-height: 38px;
    margin-top: 45px;
}

.promo__btn__link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.promo__image-block {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;

}

.promo__image {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.advantages__container {
    margin-top: -90px;
    position: relative;
    z-index: 2;
    display: flex;

}

.advantage__item {
    width: calc(100% / 3);
    background-color: #181818;
    text-align: center;
    padding: 85px 55px;
    vertical-align: middle;

}

.advantage__item:nth-child(2) {
    background-color: #0C0D0C;
}

.advantage__image__container {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.advantage__image {
    margin: 0 auto;
}

.advantage__heading {
    margin-top: 25px;
    font-family: var(--staatli-font);
    color: #fcb900;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0%;
    height: 72px;

}

.advantage__paragraph {
    font-family: var(--noto-font);
    margin-top: 25px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 26.4px;
    letter-spacing: 0%;
}

.proposal {
    margin-top: 50px;
    text-align: center;
}

.proposal__heading {
    color: #0c0d0c;
    font-family: var(--staatli-font);
    font-size: 45px;
    font-weight: 400;
    line-height: 67.5px;
}

.proposal__paragraph {
    width: 800px;
    margin: 20px auto 0;
    color: rgb(10, 33, 23);
    font-family: var(--noto-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 26.4px;
    letter-spacing: 0%;

}

.proposal__container {
    width: 100%;
    margin-top: 50px;
    display: flex;
    gap: 30px;
    min-height: 100px;

}

.proposal__item {
    width: calc((100% / 3));
    background-color: #F2F7F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 65px;
    position: relative;
}

.proposal__item__image {
    width: 260px;
    object-fit: cover;
    position: absolute;
    top: 60px;
}

.proposal__item__name {
    margin-top: 260px;
    text-transform: uppercase;
    color: rgb(12, 13, 12);
    font-family: var(--staatli-font);
    font-size: 30px;
    font-weight: 400;
    line-height: 45px;
    min-height: 83px;

}

.proposal__item__description {
    color: rgb(30, 30, 30);
    font-family: var(--noto-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 35px;
}

.proposal-item__btn {
    width: 170px;
    height: 60px;
    margin: 0 auto;
    bottom: 35px;
    margin-top: auto;
}


.centuries__bground {
    background-color: #000000;

}

.Ñenturies {
    margin-top: 100px;
    padding: 100px 0;
}

.centuries__video {
    aspect-ratio: 16/9;
    background-image: url('https://thestaub.com/wp-content/uploads/2023/12/staub-re.jpg');
}

.centuries__heading {
    margin-top: 55px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 45px;
    font-weight: 400;
    line-height: 68px;
    letter-spacing: 0%;
    font-family: var(--staatli-font);
}

.centuries__paragraph {
    color: #ffffff;
    font-family: var(--noto-font);
    font-size: 20px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: center;
    width: 800px;
    margin: 0 auto;

}

.centuries__paragaph1 {
    margin-top: 25px;
}

.centuries__paragaph2 {
    margin-top: 55px;
}

.ocassion {
    margin-top: 50px;
}

.ocassion__heading {
    text-align: center;
    color: #0c0d0c;
    font-family: var(--staatli-font);
    font-size: 45px;
    font-weight: 400;
    line-height: 67.5px;
    letter-spacing: 0%;
    text-align: center;
}

.ocassion__paragraph {
    margin-top: 15px;
    color: #0a2117;
    font-family: var(--noto-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 26.4px;
    letter-spacing: 0%;
    text-align: center;
}

.ocassion__container {
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}

.ocassion__card {
    width: 100%;
    height: 630px;
    position: relative;
    display: flex;
    justify-content: center;
    transition: .3s ease;
}

.ocassion__card:hover {
    background: rgba(0, 0, 0, .35);
    transition: .5s ease;
}

.ocassion__card__bground {
    position: absolute;
    top: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.ocassion__card__content {
    width: calc(100% - 60px);
    background: #FFFFFF;
    min-height: 300px;
    margin-top: auto;
    margin-bottom: 30px;
    padding: 50px;
}

.ocassion__card__heading {
    text-align: center;
    color: #0c0d0c;
    font-family: var(--staatli-font);
    font-size: 30px;
    font-weight: 400;
    line-height: 45px;
    text-align: center;
}

.ocassion__card__paragraph {
    margin-top: 5px;
    text-align: center;
    color: #1e1e1e;
    font-family: var(--noto-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 26.4px;
    text-align: center;
}

.clients {
    margin-top: 100px;

}

.clients_heading {
    text-align: center;
    text-transform: uppercase;
    color: #0c0d0c;
    font-family: var(--staatli-font);
    font-size: 45px;
    font-weight: 400;
    line-height: 68px;

}

.clients_paragraph {
    margin-top: 25px;
    color: #0a2117;
    font-family: var(--noto-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 26.4px;
}

.client__container {
    display: flex;
    gap: 30px;
}

.clients__client-card {
    padding: 60px;
    width: calc(100% / 3);
    background-color: #F2F7F6;
    position: relative;
    display: flex;
    flex-direction: column;

}

.clients__card__avatar {
    margin: 0 auto;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
}

.clients__card__quotes {
    position: absolute;
    right: 45px;
    top: 45px;
}

.clients__card__heading {
    margin-top: 25px;
    text-align: center;
    text-transform: uppercase;
    color: #0c0d0c;
    font-family: var(--staatli-font);
    font-size: 30px;
    font-weight: 400;
    line-height: 45px;

}

.clients__card__paragraph {
    margin-top: 30px;
    width: 100%;
    text-align: justify;
    color: #1e1e1e;
    font-family: var(--noto-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}

.clients__card__paragraph>p2 {
    margin-top: 20px;
    padding-bottom: 25px;
}

.clients__card__ps {
    text-align: center;
    margin-top: auto;
    padding-top: 25px;
    text-transform: uppercase;
    color: #0c0d0c;
    font-family: var(--staatli-font);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.clients__card__customer {
    margin-top: 5px;
    color: #1e1e1e;
    font-family: var(--noto-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
}

.banner__content {
    margin: 0 25px;
    position: relative;
    z-index: 2;
}

.banner {
    margin-top: 50px;
    background-color: rgba(0, 0, 0, .5);
    position: relative;
    padding-bottom: 100px;
}

.banner__image {
    position: absolute;
    inset: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner__heading {
    padding-top: 100px;
    text-align: center;
    color: #ffffff;
    font-family: var(--staatli-font);
    font-size: 45px;
    font-weight: 400;
    line-height: 68px;
}

.banner__paragraph {
    margin-top: 25px;
    color: #ffffff;
    font-family: var(--noto-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 26.4px;
}





.footer {
    background-color: black;
}

.footer__container {
    box-sizing: content-box;
    min-height: 150px;
    padding: 350px 0 200px 0;
    margin-top: -150px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 260px);
    justify-content: space-between;
}

.footer__item {
    color: white;
    width: 100%;
    display: flex;
    text-align: center;
    align-self: center;
    justify-self: center;
    text-align: left;
}

.footer__logo {
    width: 180px;
    height: 100px;
    object-fit: cover;

}

.footer__heading {
    color: #ffffff;
    font-family: var(--staatli-font);
    font-size: 25px;
    font-weight: 400;
    line-height: 37.5px;

}

.footer__paragraph {
    color: #aaaaaa;
    font-family: var(--noto-font);
    font-size: 12px;
    font-weight: 400;
    line-height: 35px;
}


.footer-info__heading {
    text-transform: uppercase;
    color: #ffffff;
    font-family: var(--staatli-font);
    font-size: 25px;
    font-weight: 400;
    line-height: 37.5px;

}

.footer__information {
    color: #ffffff;
    font-family: var(--noto-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 26.4px;
}

.foooter__item__block {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
}


.footer__btn {
    width: 120px;
    height: 35px;
    border: none;
    margin-top: 30px;
    background-color: black;
    font-family: var(--noto-font);
}

.footer__btn:hover {
    cursor: pointer;
}

.btn__apple {
    background-image: url('https://demo.creativethemes.com/blocksy/catering/wp-content/uploads/2022/07/app-store-button.svg');
}

.btn__android {
    background-image: url('https://demo.creativethemes.com/blocksy/catering/wp-content/uploads/2022/07/play-market-button.svg');

}

.form{
    margin: 0 auto;
    margin-top: 50px;
    width: 550px;
    min-height: 90px;
    background-color: white;
    transition: .6s ease;

}
.form__container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90px;
}
.form__input{
    margin-left: 30px;
    margin-right: 20px;
    width: calc(100% - 30px - 140px - 20px - 15px);
    outline: none;
}
.form__btn{
    margin-right: 15px;
    width: 140px;
    height: 60px;
    color: white;
    font-family: var(--noto-font);
font-size: 15px;
font-weight: 500;
line-height: 25px;
letter-spacing: 0%;
text-align: center;
}

.form__input[type=text] {
    height: 60px;
    font-family: var(--noto-font);
    border: none;
    border-bottom: 1px solid #e6f0ee;
}

.form__input[type=text]:focus {
    border: none;
    border-bottom: 1px solid #418043;
}

.form__message{
    color: red;
    margin: 10px 0 0 30px;
    padding-bottom: 10px;
}
.form__message__mobile{
    color: red;
    margin: 10px 0 0 15px ;
    align-self: flex-start;
}
.form__message__mobile{
    display: none;    
}
@media screen and (max-width: 700px){
    .form{
        width: 100%;
        
    }
    .form__container{
        flex-direction: column;
    }
    .form__input{
        width: calc(100% - 30px);
        margin: 15px auto 0;
    }
    .form__btn{
        width: calc(100% - 30px);
        margin: 15px auto 15px;
    }
    .form__message{
        display: none;
    }
    .form__message__mobile{
        display: block;
    }
    .form__input[type=text] {
        text-align: center;
    }
}



@media screen and (min-width: 571px) and (max-width: 1150px) {
    .footer__container {
        display: inline-grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        align-items: center;
    }

    .footer__item {
        align-self: flex-start;
        justify-self: center;
        justify-content: center;
        max-width: 250px;
    }
}


@media screen and (max-width: 570px) {
    .footer__container {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 80px;
        padding-top: 200px;
    }

    .footer__item {
        display: flex;
        justify-content: center;
        width: 100%;
        text-align: center !important;
    }

    .foooter__item__block {
        text-align: center;
    }
}

@media screen and (max-width: 1024px) {
    .clients__card__avatar {
        width: 80px;
        border-radius: 80px;
    }

    .clients__card__quotes {
        right: 25px;
        top: 25px;
    }
}

@media screen and (max-width: 990px) {
    .client__container {
        flex-direction: column;

    }

    .clients__client-card {
        width: 100%;
    }

    .clients__card__avatar {
        width: 160px;
        border-radius: 160px;
    }
}






@media screen and (max-width: 1340px) {

    .header,
    .wrapper {
        width: 100%;
        padding-left: 25px;
        padding-right: 25px;
    }

    .footer__container {
        width: calc(100% - 50px);
    }

}

@media screen and (max-width: 1020px) {
    .proposal__item {
        padding: 25px;
    }

    .proposal__item__image {
        position: inherit;
        top: 0;
        width: 100%;
    }

    .proposal__item__name {
        margin: 0;
    }
}

@media screen and (max-width: 900px) {
    .advantage__item {
        padding: 40px 25px;
    }
}

@media screen and (max-width: 850px) {

    .paragraph {
        width: 100%;
    }

    .proposal__container {
        gap: 15px;
    }

}

@media screen and (max-width: 767px) {
    .promo__content {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .promo__title {
        text-align: center;
        font-size: 60px;
    }

    .promo__paragraph {
        text-align: center;
    }

    .advantages__container {
        flex-direction: column;
    }

    .advantage__item {
        width: 100%;
    }

    .advantage__image__container {
        height: 60px;
    }

    .advantage__image {
        width: 60px;
    }

    .proposal__container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .proposal__item {
        width: 340px;
    }

    .ocassion__container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }

    .ocassion__card__content {
        min-height: 220px;
    }
}